* {
margin: 0px;
padding: 0px;
box-sizing: border-box;    
}
p { font-size: .8rem;}
.main-grid {
display: grid;
grid-template-columns: repeat(2, 2fr) repeat(4, 1fr);
grid-template-rows: 2fr 6fr;
height: 100vh;
}
.header {
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 7;    
background-color: white;
display: flex;
flex-direction: column;
}
.sidebar {
grid-area: 1 / 1 / span 2 / span 1;
background-color: rgb(10, 219, 219);    
display: grid;
grid-template-columns: 100%;
grid-template-rows: repeat(10,1fr);
}
.content-grid{
background-color: lightgray;
display: grid;   
grid-area: 2 / 2 / span 2 / span 6; 
}
form, .searchbar, .userinfo{
display: flex;
height: 50%;   
align-items: center; 
justify-content: space-between;
padding: 15px;
}
form{
width: 50%;    
justify-content: flex-start;
}
input[type="text"] {
width: 85%;    
padding: 5px;
margin: 5px;
border-radius: 15px;
background-color: lightgray;
border-color: lightgray;
height: 3vh;

}
.search-submit {
/* padding: 15px; */
background-color: rgba(255, 255, 255,0);
border-color: rgba(255, 255, 255,0);
}
button > img {  
height: 3vh;    
}
.icons {
margin: 15px; 
width: 45%; 
display: flex;
justify-content: end;
align-items: center;  
gap: 5px;
}
.gap{
width: 3%;    
}
.icons > img {
height: 5vh;
}
.icons > .account-icon{
height: 7vh;
border-radius: 50%;
background-color: yellow;    
}
h3{
font-size: 3vh;    
}
.account-icon-v2{
height: 10vh;
border-radius: 50%;
background-color: yellow;        
}
.gapv2 {
width: 30%;    
}
button {
height: 5vh;
width: 10vh;    
border-radius: 999px;
border-color: rgb(10, 219, 219);
background-color:rgb(10, 219, 219);
color: white;
padding: 3%;
cursor: pointer;
}
.top-sidebar{
grid-row: 1 / 2 ;  
display: flex; 
align-items: center;
gap: 5%;
}
.top-sidebar img:first-of-type{
width: 3rem;
margin-left: 5%;    
}
.top-sidebar h2:first-of-type{
font-size: 2rem;    
}
.middle-sidebar {
grid-row: 3 /  span 3;
}
.bottom-sidebar {
grid-row: 7 /  10;    
}
li{
list-style: none;
display: flex;
align-items: center; 
cursor: pointer;
margin-left: 5%;
width: 100%;
gap: 5%;
}
li:hover {
color: white;    
}
.middle-sidebar img{
width: 2rem;
margin-left: 5%;    
}
.middle-sidebar h2:first-of-type{
font-size: 1.5rem;     
}

ul{
display: flex;
align-items: start ;  
gap: 4.5%;  
flex-direction: column;
/* justify-content: space-between;     */
height: 100%;
}

.bottom-sidebar 
img{
width: 2rem;
margin-left: 5%;    
}

.bottom-sidebar h2:first-of-type{
font-size: 1.5rem;     
}


.content-grid{
/* display: grid;
grid-template-columns: 60% 40%;
grid-auto-flow: row;    */
}
.main-content{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-auto-columns: 50% 50%;
grid-auto-rows: 50% 50%;
row-gap: 5%;
column-gap: 5%;;
grid-auto-flow: row; 
padding-left: 5%;  
padding-top: 5%;
padding-bottom: 5%;
padding-right: 5%;
}
.content-grid-holder{
background-color: white;
border-radius: .3rem;
overflow: hidden;

}
.content-grid-holder > div{
height: 100%;
border-left: yellow solid .2rem;
width: 100%;    
}

.one {
grid-row: 1 / 3;    
}
.two{grid-row: 3 / 5;}
.three{ grid-row: 5 / 7;}
.four{grid-row: 1 / 3;}
.five{ grid-row: 3 / 5;}
.six{grid-row: 5 / 7;}
.seven {grid-row: 1 / 4;}
.eight {grid-row: 4/7;}
.text {  
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100%;
}
div > div > div > div > h2 {
font-size: .9rem;
}
.content-icon{
display: flex;
justify-content: end;    
border-left: none;
gap: 5%;
/* margin-top: 14.8% */
}
.content-icon img{
width: 1rem;    
}
.seven > div {
display: flex;
justify-content: center;
align-items: center;
gap: 5%;
padding: 5%;    
flex-direction: column;
}
.announcements{
border-bottom: rgb(31, 31, 31) 1px solid   
}